* {
  box-sizing: border-box;
}

html {
  background-color: white;
  font-size: 10px;
}

.container{
  background-color: white;
  display: grid;
  grid-template-columns: auto ;
  max-width: 100vw;
  margin: 0 auto;
  justify-content: center;
}

/* process sections */
section {
  display: block;
  font-weight: normal;
  max-width: 100vw;
  margin: 0 auto;
}
/*--header styles--*/
header {
  align-items: center;
  justify-content: space-around;
  background-color: #93D7DF;
  display: flex;
  height: 7vh;
  max-width: 100%;
}
/*header div*/
.intro.nav{
  align-items: center;
  display: block;
  justify-content: center;
}
/*second header div*/
nav{
  align-items: center;
  display: flex;
  justify-content: center;
}
/* my logo */
.logo {
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid #F1FAFB;
  padding-right: 2rem;
  width: 30%;
  max-width: 43px;
}
/* non-link text in navbar*/
h1 {
  color: black;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Lato';
  font-weight: 200;
  font-size: 1.4rem;
  margin: 0;
  padding-left: 1rem;
}
/* navbar link text */
.link{
  display: inline-block;
  font-family: 'lato';
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  color: #333;
  text-transform: uppercase;
  margin: 0 1.5rem;
}
/* hides links on smaller screens*/
@media only screen and (max-width: 600px){
  nav{display: none;}
}


/*--- typography styles ---*/
/* section headers */
h2{
  display: block;
  font-family: 'Megrim';
  font-size: 2rem;
  margin: 0 auto;
  padding-top: 1rem ;
  padding-bottom: 2rem;
  text-align: center;
  color: black;
}
/* large project intro description font */
h2.display{
  display: block;
  font-family: 'Megrim';
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
  width: 80%;
}
/*left aligned h2*/
h2.left{
  display: block;
  text-align: left;
  padding: 0;
  font-size: 3.4rem;
  margin: 0 ;
}
h2.left:hover{
  color: #66FCF1;
}
/* h3 text */
h3 {
  color: black;
  font-family: 'Lato';
  font-size: 1.8rem;
  font-weight: 200;
  text-align: center;
}
h3.b{
  text-align: left;
  grid-column: 1;
  font-size: 1.8rem;
  font-weight: 100;
}
/*left aligned h3*/
h3.left{
  display: block;
  color: #45A29E;
  margin: 0 auto;
}
@media screen only (min-width: 600px){
  h3.left{text-align: left;}
}
h4 {
  color: black;
  font-family: 'Lato';
  font-size: 1.8rem;
  text-align: center;
  padding: 0;
}
h5{
  color: black;
  font-family: 'Lato';
  font-size: 1.6rem;
  width: 60rem;
  text-align: center;
  margin: 2rem auto 2rem auto;
  width: 40vw;
}

/* paragraph text*/
p {
  color: #333;
  font-family: 'open sans';
  font-size: 1.4rem;
  margin: 1rem auto 1rem auto;
  padding-top: 1rem;
  font-style: normal;
  width: 40vw;
  max-width: 500px;
}

/* bold p text */
p.bold {
  font-size: 1.4rem;
  font-weight: bold;

}
/* centered p text */
p.centered{
  color: #333;
  display: block;
  font-family: "lato";
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
}
p.c{
  text-align: center;
  margin-top: 0;
}
/* used for case study preview paragraph text*/
p.b{
  display: block;
  text-align: center;
  margin: 1rem auto;
}
@media screen only (max-width: 600px;){
  p.d{text-align: left;}
}
p.cap {
  padding-top: 4rem;
  font-style: italic;
}
@media screen (max-width: 900px){
  p{max-width: 815px}
}
/* large process-stage banner in case study */
.process {
  background-color: #04B5A8;
  font-size: 4.4rem;
  height: 20rem;
  text-align: center;
  width: 100%;
  margin: 10rem auto;
  padding-top: 6.5rem;
}
/*unordered list with bulletpoint */
ul{
  font-size: 1.4rem;
  list-style-type: circle;
  margin: 0 auto;
  padding-top: 1rem ;
  width: 50vw;
  max-width: 500px;
}
ul.middle{
  list-style-type: none;
  max-width: 100%;
  text-align: center;
  padding-right: 40px;
  padding-bottom: 4rem;
}
ul.ideals {
  align-content: center;
  list-style-type: circle;
  margin: 0 auto ;
  width: 50vw;
  font-weight: bold;
  list-style-position: inside;
}
/* list items */
li{
  font-size: 1.4rem;
  padding-bottom: 1rem;
  font-weight: normal;
}
/*list within a list styles*/
dt {
  font-size: 1.4rem;
  width: 60vw;
  margin: 2rem auto .75rem auto;
  font-weight: 600;
}
dd {
  font-size: 1.4rem;
  width: 60vw;
  margin: 0 auto 0 auto;
}
/*--end--*/

.button {
    display: block;
    margin: 0 auto;
    font-family: "Lato";
    font-size: 1.4rem;
    text-align: center;
}
.button_round{
  background-color: white;
  border-radius: 50px;
  color: black;
  padding: 1rem 2rem;
}
.button_round:hover{
  background-color: red;
}
/* content button */
.button_ghost {
  background: #ffffff;
  border: .4rem solid #494949 !important;
  border-radius: 1rem;
  color: #494949 !important;
  display: inline-block;
  margin: 2rem auto;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1rem 4rem;
}
.button_ghost:hover {
  background: #f6b93b;
  border-color: #f6b93b !important;
  color: #ffffff !important;
  transition: all 0.4s ease 0s;
}

.large-btn{
  padding: 1rem 5rem;
  font-size: 1.8rem;
}

/* section icons */
.icon {
  display: block;
  height: auto;
  margin: 0 auto 0 auto;
  max-width: 6rem;
  height: auto;
}
/*icon size for desktop/tablet screens*/
@media only screen and (min-width: 600px)  {
  .icon{width:10rem;}
}
/* homepage hero section flexbox */
.homeHero{
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}
.homeHero > * {
  flex: 1 1 250px;
  margin: 1rem;
}

/* homepage Minneapolis map */
.map {
  display: block;
  height: auto;
  max-width: 100%;
}
/* homepage case study preview content box*/
.casePreview {
  display: block;
  background-color: #EFFEFD;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100vw;
  margin: 0 auto;
}
.prevBox{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.prevBox > * {
  flex: 1 1 250px;
  margin: 1rem;
}
/* text content in casePreview*/
.box_content{
  align-items: center;
}
/* dreamers logo in casePreview*/
.projectLogo{
  display: block;
  grid-column: 1;
  width: 20vw;
  height: auto;
  margin: 0 auto 2rem auto;
}
/* device frame in casePreview*/
.home_frame{
  display: block;
  max-width: 100%;
  height: auto;
}
@media only screen (min-width:600px) {
  .home_frame{ grid-column: 2;}
}
/* --lists on homepage flexbox-- */
.homeToolkit{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col-2{
  margin-top: 2rem;
}


/*--background hero box in case study--*/
.hero{
  display: block;
  align-content: center;
  background-color: #E4F5F7;
  height: auto;
  margin: 0 auto;
  padding: 4rem;
  width: 100vw;
}
/* hero case study frame*/
.hero_device {
  display: block;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 35rem;
  height: auto;
}
@media only screen and (min-width: 600px){
  .hero_device{max-width: 100%;}
}
/* 3 col layout for roles, deliverables, and tools*/
.role {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8rem;
}
.col3{
  width: 300px;
}
/* roles list format*/
ul.b{
  list-style: none;
  padding: .2rem 0 .5rem 0;
  text-align: center;
  width: 300px;
}

/* solution section*/
.col_2{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%;
}

/* all device frames*/
.device-frame{
  justify-content: center;
  display: block;
  margin: 0 auto;
  max-width: 80%;
  height: auto;
}
@media screen and (min-width:600px)
{
  .device-frame{max-width: 100%;}
}
/* dreamers logo in case study */
#dream-Logo {
  display: block;
  margin: 2rem auto;
  max-width: 50%;
  height: auto;
}
/* user personas */
.main_three{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  justify-content: center;
}
/* competitive analysis section */
.SWOT{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vh;
}
/*  individual competitor styles */
.competitor {
  margin: 2rem auto;
  text-align: left;
}
/* competitor img */
.comp_img{
  display: block;
  max-width: 100%;
  padding: 1rem;
}
/*--*/
/*user flow image */
.flow_img {
  display: block;
  height: auto;
  margin: 0 auto ;
  max-width: 100%;
  padding: 1rem;
}
/*--branding section styles--*/
.moodboard{
  display: block;
  max-width: 100%;
}
.logo_sketches {
  display: block;
  height: auto;
  margin: 1rem auto;
  max-width: 100%;
  height: auto;
}
/* logo images*/
.logo-dev-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vh;
  margin: 2rem auto;
}
/*individual image styles*/
.dev-img{
  display: block;
  width: 25vh;
  margin: 2rem auto;
}
/* img caption for logos */
p.img_cap{
  font-size: 1.4rem;
  text-align: center;
  width: 25vh;
}
/*---*/

/* content strat sitemap image styles*/
.sitemap {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
}
/* rough sketching image styles*/
.rough-sketch{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
}
/* wireframe images */
.wireframe_gallery {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
}
/* usability testing example image*/
.changes-img{
  max-width: 100%;
  margin: 4rem auto;
  padding: 0 2rem;
}


/* preference test2 img styles */
.main {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 1rem auto;
  justify-content: center;
}
 .main_content{
   max-width: 320px;
   margin: 2rem;
 }
 .main > * {
   flex: 1 1 250px;
   margin: 10px;
 }

.option{
  max-width: 100%;
}
.option_special{
  border: 1px solid red;
  padding: 1rem;
}
/*--*/



/*dreamers brand colors image*/
.colors{
  display: block;
  height: auto;
  margin: 1rem auto;
  max-width: 100%;
  padding: 0 1rem;
}
.desktop-frame{
  display: block;
  max-width: 100%;
  margin: 1rem auto;
}
/* design progression image gallery*/
.progress {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto 2rem auto;
}
.progress > * {
  flex: 1 1 250px;
  margin: 10px;
}
.progress.img{
  display: block;
  max-width: 100%;
}


/* section dividing line */
hr{
  width: 85vw;
  margin: 10rem auto;
}
/*break spacing within a paragraph*/
br{
  padding-top: 3rem;
}

/*-- footer styles --*/
footer {
  background-color: #1F2333;
  height: auto;
  max-width: 100%;
  padding: 2rem 4rem 4rem 4rem;
  margin-top: 8rem;
}
/* footer font */
h6 {
  justify-content: center;
  color: white;
  font-family: 'Lato';
  font-size: 1.8rem;
  text-align: center;
}
/* contact footer button*/
.contact{
  align-content: center;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
