* {
  box-sizing: border-box;
}

html {
  background-color: white;
  color: #333;
  font-family: "Open Sans";
  font-size: 10px;
  max-width: 100vw;
}
body{
  height: 100%;
  width: 100%;
}
.container{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr ;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}
/* process sections */
section {
  align-items: center;
  display: block;
  font-weight: normal;
  justify-content: center;
  margin: 5rem auto;
  padding: 0 ;
  width: 90vw;
}
/* full width section container */
section.smallWidth{
  width: 90vw;
}
/*--header styles--*/
header {
  align-items: center;
  background-color: #161616;
  display: flex;
  height: 100px;
  justify-content: space-between;
  width: 100vw;
  padding: 0 40px;
  margin: 0 auto;
}

/*second header div (nav links +button)*/
nav{
  align-items: center;
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  max-width: 450px;
  padding: 0 ;
}
/*-- my logo --*/
.myLogo {
  display: inline-block;
  vertical-align: middle;
  max-height: 50px;
}
/*-- general use grey background */
.bg-color{
  background-color: #f5f5f5;
  height: auto;
  margin: 1rem auto;
  padding: 2rem ;
  width: 90vw;
}
.bg-white{
  background-color: white;
  padding: 2rem;
  height: auto;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
/* h1 text */
h1 {
  color: #0091A5;
  display: inline-block;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 3.6rem;
  font-style: normal;
  margin: 0 auto;
  vertical-align: middle;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  h1{font-size: 3.8rem;}
  nav{max-width: 500px;}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
  h1{font-size: 4.2rem;}
}
/*-- navbar link text -- */
.linkBox{
  margin: 0 auto;
}
.link{
  border-bottom: 1px solid #FFFFFF;
  display: block;
  color: #FFFFFF;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 1.6rem;
  margin: 0 auto;
  justify-content: center;
  padding: 0 0 5px 0;
  transition: .25s;
  width: 100%;
}
.link:hover{border-bottom: 1px dotted #0091A5; color: #0091A5;}
@media only screen and (max-width: 600px){
    #hidden{ display: none;}
    nav{grid-template-columns: 50% 50%; width: 100%; max-width: 220px;}
}
/* hides large links on smallest screens*/
@media only screen and (max-width: 1024px){
  header{margin: 0 auto;}
  .myLogo{margin: 0;}

}

/*--- begin typography styles ---*/
/* section headers */
h2{
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 2.4rem;
  margin: 2rem auto;
  text-align: center;
  font-weight: 600;
  color: #0091a5;
  width: 100%;
  max-width: 900px;
}
h2.left{
  text-align: left;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  h2{font-size: 2.8rem;}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
  h2{font-size: 3.0rem;}
}
/* h3 text */
h3 {
  color: #333;
  display: block;
  font-family: 'Lato';
  font-size: 1.8rem;
  font-weight: 800;
  margin: 2rem auto 0 auto;
  text-align: left;
  width: 100%;
  max-width: 700px;
}
h3.b{
  text-align: left;
  font-weight: 300;
}
/*left aligned h3*/
h3.left{
  display: block;
  color: #333;

  margin: 0;
  text-align: left;
  width: 100%;
  max-width: 500px;
}
/*-- headers within sections --*/
h4 {
  color: #333;
  font-family: 'Lato';
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
  padding-top: 1rem;
  margin: 2rem auto;
  max-width: 700px;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  h3, h3.left {font-size: 2rem;}
  h4{font-size: 2rem; }
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
  h3, h3.left {font-size: 2.1rem;}
  h4{font-size: 2.2rem; }
}
/*-- headers inside text --*/
h5{
  color: #333;
  font-family: 'Lato';
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1.5rem auto 0 auto;
  text-align: left;
  width: 100%;
  max-width: 700px;
}
h5.left{
  text-align: left;
  margin-top: 1.4rem ;
  max-width: 700px;
}
/*-- paragraph text --*/
p {
  color: #333;
  font-family: 'Open+Sans';
  font-size: 1.4rem;
  margin: 1rem auto 1rem auto;
  font-style: normal;
  width: 100%;
  max-width: 700px;
  line-height: 150%;
  align-items: center;
}
/* bold p text */
p.quote {
  font-weight: bold;
  font-style: italic;
  margin: 0 auto;
}
/* centered p text */
p.centered, #b{
  color: #333;
  display: block;
  font-family: 'Lato';
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  word-spacing: 3rem;
}
p.occupation{
  margin: 0;
  padding: 0;
}
/* inner section header */
p.header{
  font-weight: 500;
  margin: 2rem auto 0 auto;
}
p.cap {
  font-style: italic;
}
p.info{
  margin-top: 0;
  width: 100%;
}
/* blue brand highlight color - used in footer*/
.highlight{
  color: #0091A5;
  text-align: center;
  width: 200px;
}
.highlight:hover{
  text-decoration: underline #0091A5;
  cursor: pointer;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  h5{font-size: 1.6rem;}
  p{ font-size: 1.6rem;}
  p.centered{font-size: 1.8rem;}

}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
  h5{font-size: 1.8rem;}
  p {font-size: 1.8rem;}
  p.centered{font-size: 2rem;}
}
b{
  font-weight: bold;
}
/*---- end typography styles ----*/

/*-------- list styles -------*/
/*-- unordered list bullet --*/
ul{
  font-size: 1.4rem;
  list-style-type: circle;
  margin: 1rem auto;
  width: 100%;
  max-width: 700px;
  padding-right: 4rem;
}
/* list with background color */
ul.color{
  list-style-position: inside;
  padding: 0 ;
}
ul.color li:nth-of-type(odd){
  background: rgba(102, 102, 102, 0.05);
}
ul.color li:nth-of-type(even){
  background: rgba(118, 234, 225, 0.025);
}
/* centered no-bullet (for lists) */
ul.middle{
  list-style-type: none;
  text-align: center;
  padding: 0 5%;
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
}
/* brand ideals list */
ul.ideals {
  align-content: center;
  list-style-type: circle;
  margin: 0 auto ;
  font-weight: bold;
  list-style-position: inside;
}
/* ul - iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  ul{font-size: 1.6rem;}
}
/* ul - Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  ul{font-size: 1.8rem;}
}
/*-- list item styles --*/
li{
  font-size: 1.4rem;
  padding: 1.5rem .5rem ;
  font-weight: normal;
}
/*-- list within a list --*/
dt {
  background: rgba(135, 206, 250,.09);
  font-family: "Open Sans";
  font-size: 1.4rem;
  margin: 2rem auto 0 auto;
  width: 90vw;
  max-width: 600px;
  padding: 1rem;
}
dd {
  font-size: 1.4rem;
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  background: rgba(135, 206, 250,.02);
  padding: 1rem;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  li,dt,dd{font-size: 1.6rem;}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  li,dt,dd{font-size: 1.8rem;}
}

/*---- general button styles ----*/
/* a link (used in buttons) + nav */
a {
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  color:#333;
}

.button {
    display: block;
    margin: 0 auto;
    font-family: "Lato";
    font-weight: 500;
    height: 100%;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.outline{
  margin: 0 auto;
  border: 2px solid #76EAE1;
  border-radius: 5px;
  padding: 1.5rem 4rem;
  font-family: "Lato";
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
}
.outline:hover{
  border: 0;
  border-radius: 50px;
  color: black;
}

@media only screen and (max-width: 600px){
  .outline{margin: 0 auto; padding: 1rem 2rem; font-size: 1.6rem; }
  .link, .links{font-size: 1.4rem; margin: 0 auto;}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .button_outline{font-size: 1.8rem;border: 3px;}
}
/* content button */
.button_ghost {
  background: white;
  border: 4px solid #FC6671 !important;
  border-radius: 8px;
  color: #333 !important;
  display: inline-block;
  font-size: 1.6rem;
  margin: 4rem auto;
  text-transform: uppercase;
  transition: all .5s ease 0s;
  padding: 2.5rem 6rem;
}

.button_ghost:hover {
  background: #FC6671;
  border-color: #FC6671 !important;
  border-radius: 40px;
  color: #FFFFFF !important;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .button{font-size: 1.6rem;}
  .button_ghost{font-size: 1.8rem; padding: 2.5rem 7rem;}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .button{font-size: 1.8rem;}
  .button_ghost{font-size: 2rem; padding: 2.5rem 8rem;}
}

/* ---section icons--- */
.icon {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 80px;
  height: auto;
}
/* icon size change - iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {.icon{width: 90px;}}
/* icon size change - Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {.icon{width: 100px;}}
/*-- homepage hero section flexbox --*/
.homeHero{
  align-self: center;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
}
/* content in hero grid */
.hero_content{
  width: 100%;
  max-width: 500px;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}
/*- homepage image (me) -*/
img.index_image {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.index_image_container{
  display: block;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
}
.card_container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  align-content: space-between;
  justify-content: center;
}
.card{
  background-color: white;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  transition: 0.25s;
  display: block;
  height: 500px;
  width: 500px;
  margin: 1%;
  overflow: hidden;
  position:relative;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* card image */
.card_image{
  background-color: #f5f5f5;
  display: block;
  max-height: 60%;
  overflow: hidden;
  display: block;
  border-radius: 2px 2px 0 0;
  padding: 1rem ;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* text content in card */
.card_content{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

.card_button{
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  background: white;
  border-top: 1px solid #f5f5f5;;
  border-radius: 0 0 2px 2px;
  margin: 0;
  position: absolute;
  right:    0;
  bottom:   0;
  width: 100%;
}
.card_button_text{
  color: grey;
  padding: 2rem;
  text-align: left;
  margin: 0;
  font-family: 'Lato';
  font-size: 1.6rem;
}
.card_button_text:hover{
  color: #0091a5;
}
/*-- lists on homepage - flexbox --*/
.homeToolkit{
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
}
/*------ hero section styles (in project files)--*/
.hero{
  background-color: #f5f5f5;
  display: block;
  align-content: center;
  height: auto;
  margin-top: 0;
  width: 100vw;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
.hero_container{
  display: block;
  margin: 0 auto;
  height: 280px;
  overflow: hidden;
  padding: 2.5rem 1rem;
}
/* sets hero height on ipads  ----------- */
@media only screen and (min-device-width : 768px) {
  .hero_container{
    height: 700px;
    padding: 5rem 20rem;
  }
}
/* hero image in projects*/
.hero_device {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

/* solution section*/
.solu{
  align-items: center;
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
/* creates twp col on ipads and desktops ----------- */
@media only screen and (min-device-width : 768px) {
  .solu{grid-template-columns: 50% 50%;}
}

/* all device frames*/
.device-frame{
  display: block;
  height: auto;
  margin: 4rem auto;
  width: 100%;
  max-width: 600px;
}
.solution_frame{
  margin: 2rem auto;
}
  /* device frame in final design */
  .desktop-frame{
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    transition: .5s all;
}
/* user personas img container*/
.personas{
  display: block;
  max-width: 100vw;
  width: 100%;
}
/* user personas main container*/
.main_three{
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
  margin: 2rem auto;
  padding: 1rem 0 ;
  justify-content: center;
}
.persona{
  display: block;
  width: 80vw;
  margin: 0 auto
}
/* user personas individual container
.persona-container{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 2vh auto;
  height: 300px;
  padding: 0;
}*/
/* user persona name text*/
h4.left{
  text-align: left;
}

/* user personas individual section container*/
.persona-section{
  align-content:  center;
  background-color: white;
  height: auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 290px;
  text-align: left;
  margin: 0 auto;
}
/*persona image div*/
.images{
  display: block;
  padding: 1rem;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 200px;
}
/* persona img */
.persona-img{
  display: block;
  height:100%;
  max-height: 180px;
  width: auto;
}
/*-- competitive analysis container --*/
.SWOT{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  margin: 4rem auto;
}
/* individual competitor block */
.competitor {
  display: block;
  margin: 2rem auto;
  text-align: left;
  justify-content: center;
}
/* competitor img */
.comp_img{
  display: block;
  width: 90vw;
  max-width: 300px;
  height: auto;
  padding: 0;
  margin: 2rem auto 0 auto;
}
/*-user flow image+cap container-*/
.user_flow{
  display: block;
  width: 100%;
  max-width: 900px;
  margin: 6rem auto ;
}
/*--user flow image--*/
.flow_img {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

/*-- branding --*/
.moodboard{
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
img.center-img{
  display: block;
  margin: 2vw auto;
}
/* logo sketching img */
.logo_sketches {
  display: block;
  margin: 1rem auto;
  width: 100%;
  max-width: 900px;
  height: auto;
  padding: 1rem;
}
/* logo section in branding */
.logoDesign{
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  padding: 0 1rem;
}
/* dreamers logo images*/
.logo-dev-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin: 2rem auto;
}
/* image + content logo div */
.dev-content{
  width: 100%;
  margin: 2rem auto;
  max-width: 215px;
}
/*individual logo image styles*/
.dev-img{
  display: block;
  justify-content: center;
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
}
/* img caption for logos */
p.img_cap{
  font-size: 1.4rem;
  margin: 1.5rem auto;
  text-align: left;
  width: 100%;
  max-width: 600px;
}
/*-- content strat sitemap image styles --*/
.sitemap {
  display: block;
  height: 400px;
  width: auto;
  margin: 1rem auto;
}
.sitemapImg{
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
/*-- rough sketching image styles --*/
.rough-sketch{
  display: block;
  height: auto;
  margin: 2rem auto;
  max-width: 80vw;
  width: 100%;
  }
/*-- sketching image styles that fit within body text --*/
.sketches{
  display: block;
  height: auto;
  margin: 2rem auto;
  max-width: 700px;
  width: 100%;
}
/*-- user testing change example image --*/
.changes-img{
  display: block;
  height: 100%;
  max-height: 350px;
  margin: 0 auto 2rem auto;
}
/* preference container test section */
.test-section{
  margin: 1rem auto;
  height: 100%;
  width: 100%;
}
/*-- pref-test flex container --*/
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
}
/* testing choices content */
 .main_content{
   width: 100%;
   max-width: 280px;
   height: 100%;
   padding: 0;
 }
 .main > * {
   flex: 1 1 250px;
   margin: 10px;
 }
 .main_img{
   max-width: 280px;
   transition: .5s all;

}
/* choice img */
.option{
  max-width: 100%;
  padding: 3px;
  transition: .5s all;
}
/* highlighted winner */
.special{
  border: 1px solid red;
  padding: 2px;
  transition: .5s all;
}
/*-- brand colors img styles-- */
.colors{
  display: block;
  height: auto;
  margin: 1rem auto;
  width: 80vw;
  max-width: 700px;
  padding: 1rem ;
}
.prototype-prev{
  display: block;
  margin: 4rem auto;
  width: 100%;
  max-width: 900px;
  padding: 4rem;
}
/*-- design progression image flex container --*/
.progress {
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  width: 100%;
  max-width: 100vw;
  padding: 2rem ;
}
.progress > * {
  flex: 1 1 250px;
  margin: 5px;
}
.progress-container{
  max-width: 200px;
}
/* progress individual img styles */
.progress-img{
  display: block;
  height: auto;
  max-width: 100%;
}
.imgContainer{
  height: 300px;
  margin: 0 auto;
  width: 700px;
}
/*--full size image--*/
.containedImg{
  height: 100%;
  margin: 1rem auto;
  object-fit: cover;
  object-position: center;
  width: 100%;
  padding: 1rem;
}
/* desktop project/dreamers frames image gallery container */
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100vw;
  margin:  0 auto;
}
/* individual img container in desktop project/dreamers gallery */
.gallery-img-div{
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  box-shadow:0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin: 1rem;
  max-width: 300px;
  max-height: 215px;
  overflow: hidden;
}
/* individual img in desktop project/dreamers gallery */
.gallery-img{
  display: block;
  height: auto;
  width: 100%;
}
/*-- general mobile project/mood flexbox img container--*/
.flexContainer{
  align-items: center;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90vw;
  margin: 0 auto;
  padding: 2rem;
}
/* individual project/mood flex image/item div  */
.flexItem{
  display: block;
  padding: 1rem;
  width: 100%;
  max-width: 200px;
}
/* flex project/mood image styles*/
.flexImg{
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  box-shadow:0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  height: auto;
  width: 100%;
}

.flexDiv{
  display: block;
  padding: 1rem;
  width: 100%;
  max-width: 400px;
}
.wire-sketches-flex{
  width: 100%;
  max-width: 500px;
}
.imgShadow{
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  box-shadow:0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.mini-section{
  margin: 2rem auto;
}

/*-- iframe styles --*/
iframe{
  margin: 0 auto;
  display: block;
  border: none;
  width: 100%;
  height: 800px;
}

.iframe-div{
  display: block;
  background-color: #161616;
  width: 100%;
  max-width: 100vw;
  margin: 2rem auto;
}
/*-------- project3 (dailyui) page styles---------*/
.project3-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100vw;
}
.img-container{
  display: block;
  position: relative;
  min-width: 300px;
}
/* creates two img columns on desktops */
@media only screen and (min-width : 1224px) {
  .img-container{max-width: 50vw;}
}
.dailyui-img{
  display: block;
  width:100%;
  max-width: 100vw;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: inherit;
}

.img-container:hover .overlay {
  opacity: 1;
}
.text {
  font-size: 20px;
  font-family: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}
/*-- h3 + p font color change classes for dailyui img hover text --*/
.black {
  color: black;
  text-align: left;
}
.white {
  color: white;
  text-align: left;
}
/*-- disables image hover overlay on ipad and mobile screens --*/
@media only screen and (max-device-width : 1024px) {
  .text{opacity: 0;}
}
/*-------- my work page styles---------*/
.work{
  margin: 4rem auto;
}

/*-------- about me page styles --------*/
.about-me{
  margin: 0 auto;
}
/*- my portrait img -*/
.portrait{
  display: block;
  border-radius: 70%;
  margin: 4rem auto;
  max-width: 300px;
  width: 100%;
  transition: all .5s;
}
.about-content{
  margin: 0 auto;
  width: 90vw;
}
/*----------- footer styles ----------------*/
footer {
  background-color: #161616;
  height: auto;
  width: 100%;
  padding: 8vh 8vw 4vh;
  margin-top: 10vh ;
}
/* footer font */
h6 {
  justify-content: center;
  color: white;
  font-family: 'Lato';
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem auto ;
  line-height: 2rem;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  h6{font-size: 1.4rem;}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  h6{font-size: 1.6rem;}
}
/* contact footer button*/
.contact{
  align-content: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 5rem auto;
  flex-wrap: wrap;
}
/* footer button margin and padding styles */
.foot{
  display: block;
  height: auto;
  margin: 2rem auto 5rem auto;
  transition: all .5s;
  padding: 2rem 3.5rem;
  width: 250px;
}
.foot:hover{
  animation-name: gradient, border;
  animation-duration: 1.0s;
  animation-iteration-count: infinite;
}
.contact-section{
  justify-content: space-between;
  align-content: center;
  display: flex;
  max-width: 300px;
  margin: 1rem auto;
}
.contact-icon{
  height: auto;
  max-width: 50px;
  display: block;
  margin: 0 4rem;
}

/*----- contact form start--- */
/* form container */
#formContainer {
 border-radius: 5px;
 background-color: #FFFFFF;
 padding: 2rem 5rem ;
 margin: 4rem auto;
 width: 100%;
 max-width: 500px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
 border: 1px solid #ccc;
 border-radius: 4px;
 margin-top: 1rem;
 margin-bottom: 2rem;
 font-size: 1.4rem;
 resize: vertical ;/* Allow the user to vertically resize the textarea (not horizontally) */
 padding: 1.4rem;
 width: 100%;
}
textarea {
  width: 100%;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  height: 300px;
}
input[type=email]{
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 1.4rem;
  width: 100%;
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
 background-color: #0091A5;
 border: none;
 border-radius: 4px;
 color: #333;
 cursor: pointer;
 font-size: 1.6rem;
 font-family: "Lato";
 font-weight: 700;
 margin: 2rem auto;
 text-transform: uppercase;
 padding: 2.5rem 4.5rem;
 width: 100%;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
 background-color: #00FFEB;
 color: black;
}

/*contact styles end*/
